@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
.outer-container{
    margin-top:10px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container input{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 25%;
}
.inner-container input::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.inner-container label{
    font-size: 19px;
    margin-bottom: 10px;
}
.inner-container button{
    padding: 10px;
    width: 324px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: #2874f0;
    color:white;
}